@{
    Layout = null;
}
<head>
    <title>Fit.co</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        body, html {
            height: 100%;
            line-height: 1.8;
        }
        /* Full height video header */
        #header {
            position: relative;
        }

        #video-container {
            position: relative;
            width: 100%;
            height: 100vh; /* Set the desired height */
            overflow: hidden;
        }

            #video-container video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
            }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(48,25,52,0.75);
        }
    </style>
</head>
<body>
    <!-- Navbar (sit on top) -->
    <div class="top">
        <div class="bar white card" id="myNavbar">
            <a href="index.html" class="bar-item button wide">FIT.CO</a>
            <!-- Right-sided navbar links -->
            <div class="right hide-small">
                <a href="index.html" class="bar-item button">HOME</a>
                <a asp-controller="Home" asp-action="Myfit" class="bar-item button"><i class="fa fa-th"></i> MyFIT</a>
                <a asp-controller="Home" asp-action="Signup" class="bar-item button"> SIGN UP</a>
                <a asp-controller="Home" asp-action="Aboutus" class="bar-item button"> ABOUT US</a>
                <a href="#contact" class="bar-item button"><i class="fa fa-envelope"></i> CONTACT</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->
            <a href="javascript:void(0)" class="bar-item button right hide-large hide-medium" onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="sidebar bar-block black card animate-left hide-medium hide-large" style="display:none" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="bar-item button large padding-16">Close ×</a>
        <a href="index.html" onclick="w3_close()" class="bar-item button">HOME</a>
        <a asp-controller="Home" asp-action="Myfit" onclick="w3_close()" class="bar-item button">MyFIT</a>
        <a href="signup.html" onclick="w3_close()" class="bar-item button">SIGN UP</a>
        <a href="aboutus.html" onclick="w3_close()" class="bar-item button">ABOUT US</a>
        <a href="#contact" onclick="w3_close()" class="bar-item button">CONTACT</a>

    </nav>
    <!-- Header with video -->
    <header id="header">
        <div id="video-container">
            <video autoplay muted loop>
                <source src="img/3327806-hd_1920_1080_24fps.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="overlay"></div>
        <div class="display-left text-white" style="padding:48px">
            <span class="jumbo hide-small">Start something that matters</span><br>
            <span class="xxlarge hide-large hide-medium">Start something that matters</span><br>
            <span class="large">The journey to a healthier you begins now </span>
            <p><a href="signup.html" class="button white padding-large large margin-top hover-opacity-off" style="border-radius: 20px;background-color: white;"><i class="fa fa-flash" style="font-size:25px"></i>&nbsp;&nbsp;Sign Up Today</a></p>
        </div>

        </div>
    </header>

    <!-- About Section -->
    <div class="container" style="padding:50px 100px" id="about">
        <h2 class="center" style="font-weight: 500;">OUR SERVICES</h2>
        <p class="center large">What we offer</p>
        <div class="row-padding center" style="margin-top:64px">
            <div class="quarter">
                <img style="width: 300px;" src="img/gym1.jpeg">
                <p class="large" style="font-weight: 400;">Personalized workouts</p>

            </div>
            <div class="quarter">
                <img style="width: 200px; height: 200px;" src="img/food.png">
                <p class="large" style="font-weight: 400;">Customized Meal Plans</p>

            </div><div class="quarter">
                <img style="width: 200px; height: 200px;" src="img/med.png" ">
                <p class="large" style="font-weight: 400;">Mindfulness Tips</p>

            </div><div class="quarter">
                <img style="width: 200px; height: 200px;" src="img/pt.png">
                <p class="large" style="font-weight: 400;"> Personal Training Coaches </p>

            </div>
        </div>
    </div>

    <!-- Promo Section - "We know design" -->
    <div class="container light-grey" style="padding:80px 150px">
        <div class="row-padding">
            <div class="col m6">
                <h2 style="font-weight: 500;">We know you better.</h2>
                <p>Discover trends, track progress, and embark on your journey to optimized well-being. Let's embark on this wellness adventure together!</p>
                <h5><a href="myfit.html" class="button black"><i class="fa fa-th"> </i> MyFit Dashboard</a></h5>
            </div>
            <div class="col m6" style="text-align: center;">
                <img class="image round-large" style="width:50%;height:50%;" src="https://static.vecteezy.com/system/resources/previews/008/936/978/original/modern-fitness-tracker-concept-background-isometric-style-vector.jpg" alt="MyFIT">
            </div>
        </div>
    </div>

    <!-- new banner -->

    <section class="section about" aria-label="about" id="about" data-section">
        <div style="display: grid;
        grid-template-columns: 0.7fr 1fr;
        align-items: center;
        gap: 50px;
        margin: 90px;">

            <div class="about-banner img-holder" style="--width: 470; --height: 580;">
                <img src="img/about-banner.jpg" width="470" height="580" loading="lazy" alt="about banner" class="img-cover">

                <a href="recipes.html" class="btn btn-secondary" style="padding: 10px 25px;border-radius: 20px;background-color: coral;color: white;"><b><i class="fa fa-cutlery" style="font-size:20px"></i>&nbsp;&nbsp;Check our Recipes</b></a>
            </div>

            <div class="about-content">

                <p class="section-subtitle">15+ Years Of Experience</p>

                <h1 class="section-title">Experience-driven, Personalized Fitness Solutions at FIT.CO.</h1>

                <p class="section-text">
                    We offer customized workouts, meal plans, and mindfulness tips, tailored to your unique needs. With dedicated personal training coaches and our myFit dashboard, tracking your progress has never been easier. Join our gym or access our workout and diet plans from anywhere.
                </p>

                <h3 class="about-h3">10+ Programs</h3>

                <p class="section-text">
                    From beginner to advanced levels, our programs are designed to help you achieve your wellness goals effectively. With flexible pricing options, you can choose the program that best fits your budget and lifestyle.
                </p>

            </div>

        </div>
    </section>

    <!-- new banner -->
    <!-- Team Section -->
    <div class="container" style="padding:80px 100px" id="team">
        <h3 class="center" style="font-weight: 500;">Meet Our Coaches</h3>
        <p class="center large" style="text-align: justify;">
            Transform Your Journey with Personalized Coaching from Our Expert Team
        </p>
        <div class="row-padding" style="margin-top:64px">
            <div class="col l3 m6 margin-bottom">
                <div class="card">
                    <img style="width:100%;height:50%;" src="img/coach1.png" alt="Rich Froning">
                    <div class="container">
                        <h3>Rich Froning</h3>
                        <p class="opacity">CrossFit Specialist</p>
                        <p>Renowned CrossFit athlete with multiple championship titles and a reputation for exceptional training methodologies.</p>
                        <p><a href="https://en.wikipedia.org/wiki/Rich_Froning_Jr." class="button block" style="padding: 10px 25px;background-color: coral;color: white;"><i class="fa fa-coffee"></i> Read More</a></p>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 margin-bottom">
                <div class="card">
                    <img style="width:100%;height:50%;" src="img/coach2.png" alt="Dr. Rhonda Patrick">
                    <div class="container">
                        <h3>Dr. Rhonda Patrick</h3>
                        <p class="opacity">Nutrition Specialist</p>
                        <p>Renowned biochemist known for her expertise in nutrition and has coached countless individuals towards health and wellness.</p>
                        <p><a href="https://www.foundmyfitness.com/about-dr-rhonda-patrick" class="button block" style="padding: 10px 25px;background-color: coral;color: white;"><i class="fa fa-coffee"></i> Read More</a></p>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 margin-bottom">
                <div class="card">
                    <img style="width:100%;height:50%;" src="/img/coach3.png" alt="Gabrielle Bernstein">
                    <div class="container">
                        <h3>Gabrielle Bernstein</h3>
                        <p class="opacity">Mind-Body Transformation Coach</p>
                        <p>Bestselling author and motivational speaker, specializing in mindfulness, meditation, and personal growth.</p>
                        <p><a href="https://gabbybernstein.com/" class="button block" style="padding: 10px 25px;background-color: coral;color: white;"><i class="fa fa-coffee"></i> Read More</a></p>
                    </div>
                </div>
            </div>
            <div class="col l3 m6 margin-bottom">
                <div class="card">
                    <img style="width:100%;height:50%;" src="img/coach4.png" alt="Mark Rippetoe">
                    <div class="container">
                        <h3>Mark Rippetoe</h3>
                        <p class="opacity">Strength Training Guru</p>
                        <p>Leading strength training coach, author of "Starting Strength," and recognized authority in the barbell training and strength development.</p>
                        <p><a href="https://en.wikipedia.org/wiki/Mark_Rippetoe" class="button block" style="padding: 10px 25px;background-color: coral;color: white;"><i class="fa fa-coffee"></i> Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Promo Section "Statistics" -->
    <div class="container row center red orange padding-64">
        <div class="quarter">
            <span class="xxlarge">44+</span>
            <br>Trainers
        </div>
        <div class="quarter">
            <span class="xxlarge">25+</span>
            <br>Gym Studios in USA
        </div>
        <div class="quarter">
            <span class="xxlarge">150+</span>
            <br>Happy Clients
        </div>
        <div class="quarter">
            <span class="xxlarge">100+</span>
            <br>Success Stories
        </div>
    </div>

    <!-- testimonials -->
    <div class="center" style="text-align: center; padding-top:80px; padding-left: 100px;padding-right: 100px;">
        <h3 style="font-weight: 500;">TESTIMONIALS</h3>
        <p class="center large">What they have to say about us</p>
    </div>
    <div class="container" style="padding:80px 100px;display: flex; justify-content: space-between;" id="team">
        <div class="container">
            <div class="card-4" style="width:100%;padding:25px 30px;border-radius:20px">
                <header class="container">
                    <span><i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i></span>
                </header>
                <div class="container">
                    <p>FIT.CO's dashboard has revolutionized my fitness journey; it's amazing to track my progress and see tangible results. With its user-friendly interface, staying motivated has never been easier.</p>
                    <br>
                    <img src="img/client1.png" alt="Avatar" class="left circle margin-right" style="width:80px; margin-top: -30px;">
                    <span style="font-size: large;">Stacey Merr</span>

                    <img src="https://cdn-icons-png.flaticon.com/512/2/2997.png" alt="Avatar" class="right margin-left" style="width:50px">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-4" style="width:100%;padding:25px 30px;border-radius:20px">
                <header class="container">
                    <span><i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i></span>
                </header>
                <div class="container">
                    <p>Thanks to FIT.CO, I've shed those extra pounds and feel fantastic! Their tailored workouts, customized meal plans, and supportive coaches made all the difference.</p>
                    <br>
                    <img src="img/client2.png" alt="Avatar" class="left circle margin-right" style="width:80px; margin-top: -30px;">
                    <span style="font-size: large;">Ross Baker</span>

                    <img src="https://cdn-icons-png.flaticon.com/512/2/2997.png" alt="Avatar" class="right margin-left" style="width:50px">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card-4" style="width:100%;padding:25px 30px;border-radius:20px">
                <header class="container">
                    <span><i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i>&nbsp;<i class="fa fa-star" style="font-size:25px;color:#08663f"></i></span>
                </header>
                <div class="container">
                    <p>FIT.CO's rejuvenating yoga sessions have been instrumental in helping me find a newfound sense of positivity and balance. Their skilled instructors and calming environment make every session a joy</p>
                    <br>
                    <img src="img/client3.png" alt="Avatar" class="left circle margin-right" style="width:80px; margin-top: -30px;">
                    <span style="font-size: large;">Sherin Stuart</span>

                    <img src="https://cdn-icons-png.flaticon.com/512/2/2997.png" alt="Avatar" class="right margin-left" style="width:50px">
                </div>
            </div>
        </div>
    </div>
    <p style="text-align: center;">
        <button class="button black" onclick="showReview()">
            <i class="fa fa-paper-plane"></i> Add your review
        </button>
    </p>
    <br>
    <div class="container light-grey" style="padding:30px 250px;display: none;" id="review">

        <p class="center large">Add your Review</p>
        <div style="margin-top:48px">

            <form action="" target="_blank">
                <p><input class="input border" type="text" placeholder="Name" required name="Name"></p>

                <p><input class="input border" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="button black" type="submit">
                        <i class="fa fa-paper-plane"></i> SUBMIT
                    </button>
                </p>
            </form>

        </div>
    </div>
    <!-- Modal for full size images on click-->
    <!-- Pricing Section -->
    <div class="container center dark-grey" style="padding:80px 100px" id="pricing">
        <h3>PRICING</h3>
        <p class="large">Choose a pricing plan that fits your fitness goals.</p>
        <div class="row-padding" style="margin-top:64px">
            <div class="third section">
                <ul class="ul white hover-shadow">
                    <li class="black xlarge padding-32">Basic</li>
                    <li class="padding-16"><b>Access</b> to basic workout routines</li>
                    <li class="padding-16"><b>Limited</b> access to diet plans</li>
                    <li class="padding-16"><b>Monthly</b> progress tracking</li>
                    <li class="padding-16"><b>Standard</b> support</li>
                    <li class="padding-16">
                        <h2 class="wide">$9.99</h2>
                        <span class="opacity">per month</span>
                    </li>
                    <li class="light-grey padding-24">
                        <a href="signup.html" class="button black padding-large">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="third">
                <ul class="ul white hover-shadow">
                    <li class="red xlarge padding-48">Pro</li>
                    <li class="padding-16"><b>Access</b> to premium workout routines</li>
                    <li class="padding-16"><b>Full</b> access to diet plans</li>
                    <li class="padding-16"><b>Personalized</b> progress tracking</li>
                    <li class="padding-16"><b>Priority</b> support</li>
                    <li class="padding-16">
                        <h2 class="wide">$19.99</h2>
                        <span class="opacity">per month</span>
                    </li>
                    <li class="light-grey padding-24">
                        <a href="signup.html" class="button red padding-large" style="color:white;">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="third section">
                <ul class="ul white hover-shadow">
                    <li class="black xlarge padding-32">Ultimate</li>
                    <li class="padding-16"><b>Access</b> to all premium features</li>
                    <li class="padding-16"><b>Exclusive</b> access to live workout sessions</li>
                    <li class="padding-16"><b>24/7</b> support from fitness experts</li>
                    <li class="padding-16"><b>Personalized</b> coaching</li>
                    <li class="padding-16">
                        <h2 class="wide">$29.99</h2>
                        <span class="opacity">per month</span>
                    </li>
                    <li class="light-grey padding-24">
                        <a href="signup.html" class="button black padding-large">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>





    <!-- Contact Section -->
    <div class="container light-grey" style="padding:80px 80px" id="contact">
        <h3 class="center">CONTACT</h3>
        <p class="center large">Lets get in touch. Send us a message:</p>
        <div style="margin-top:48px">
            <p><i class="fa fa-map-marker fa-fw xxlarge margin-right"></i> Tampa, US</p>
            <p><i class="fa fa-phone fa-fw xxlarge margin-right"></i> Phone: (813) 661-0033</p>
            <p><i class="fa fa-envelope fa-fw xxlarge margin-right"> </i> Email: fitco@mail.com</p>
            <br>

            <p><input class="input border" type="text" placeholder="Name" required name="Name"></p>
            <p><input class="input border" type="text" placeholder="Email" required name="Email"></p>
            <p><input class="input border" type="text" placeholder="Subject" required name="Subject"></p>
            <p><input class="input border" type="text" placeholder="Message" required name="Message"></p>
            <p>
                <button class="button black" onclick="showContact()">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                </button>
            </p>
            <h4 id="ContactMsg" style="color: red;border: 1px red solid;display: none;padding:8px">Thankyou! Our team will contact you soon.</h4>



        </div>
    </div>








    <!-- Footer -->
    <footer class="center black padding-64">
        <a href="#top" class="button light-grey"><i class="fa fa-arrow-up margin-right"></i>To the top</a>
        <div class="xlarge section" style="padding: 20px;">
            <i class="fa fa-facebook-official hover-opacity"></i>
            <i class="fa fa-instagram hover-opacity"></i>
            <i class="fa fa-snapchat hover-opacity"></i>
            <i class="fa fa-pinterest-p hover-opacity"></i>
            <i class="fa fa-twitter hover-opacity"></i>
            <i class="fa fa-linkedin hover-opacity"></i>
        </div>
        <p>Copyright 2024. Fit.co</p>
    </footer>

    <script src="js/main.js"></script>
</body>